<p class="fw-bold">
    You can join Marked Souls by messaging Kousei.5914 or Vivaer.8360 in game or visiting our 
    <a href="https://discord.gg/U6CRffF2EF" target="_blank">Discord</a>. Be sure to react in our Channels and Roles to 
    get access to our Guild Wars 2 channels!
</p>
<p>
    <em>All members must pass a probation period, during which the player must show that they can fit in with the
    guild's expectations and current members.</em>
</p>

