<p>The following links have general information regarding raiding in Guild Wars 2. Marked Souls has also put a series of pages together to gather what we think are the best guides and resources for each encounter.</p>
<ul>
    <li><a href="https://wiki.guildwars2.com/wiki/Raid" target="_blank">Raid (Wiki)</a> - Official wiki raid information
    <li><a href="https://www.reddit.com/r/Guildwars2/comments/6cbezg/a_collection_of_raid_boss_guides_for_forsaken/" target="_blank">A Collection of Raid Boss Guides (Reddit)</a> - This lists all the guides but isn't curated.
    <li><a href="https://www.reddit.com/r/Guildwars2/comments/55vb2j/guide_getting_started_in_raids/" target="_blank">Getting Started in Raids (Reddit)</a> - Pretty good guide for players just starting out with raids.
    <li><a href="https://snowcrows.com/guides/raids" target="_blank">Snow Crows Guides</a> - Text and video guides for raid bosses. 
    <li><a href="https://hardstuck.gg/gw2/guides/raids/" target="_blank">Hardstuck Guides</a> - Text and video guides for raid bosses. 
</ul>

<h3>Raid Builds</h3>

<p>To be included on a Marked Souls Raid Team, a member must have at least one character built using a recommended build from one of the following sites:</p>

<ul>
    <li><a href="https://snowcrows.com/" target="_blank">https://snowcrows.com/</a>
    <li><a href="https://hardstuck.gg/" target="_blank">https://hardstuck.gg/</a>
</ul>

<h3>Raid Video Playlist</h3>
<a href="https://www.youtube.com/playlist?list=PLggbvfIMjqB0YFsS1X_6noSmK688T5Qoc" target="_blank">Link</a>
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLggbvfIMjqB0YFsS1X_6noSmK688T5Qoc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
