<h3>Guild Wars 2 Tactical Overlay (TacO)</h3>

<p>TacO is an overlay tool that has a pretty big feature list but the important things for raids are markers and timers for boss specific mechanics. Poison countdown on Matthias, mushroom labels on Sloth, etc.</p>
<p>
    Software: <a href="http://gw2taco.blogspot.com/" target="_blank">http://gw2taco.blogspot.com/</a><br>
    Tekket's All-in-One Marker Pack: <a href="https://www.tekkitsworkshop.net/index.php/download" target="_blank">https://www.tekkitsworkshop.net/index.php/download</a>
</p>

<h3>Blish HUD</h3>

<p>A modern Guild Wars 2 overlay with powerful module support.</p>
<p>Software: <a href="https://blishhud.com/" target="_blank">https://blishhud.com/</a></p>

<h3>ARC DPS</h3>

<p>This is a DPS meter and while we know there is still some controversy about them this is the best one for those that want to use one. It’s also got the added benefit of having a working build template system (switch between builds quickly).</p>
<p>Link: <a href="https://www.deltaconnected.com/arcdps/" target="_blank">https://www.deltaconnected.com/arcdps/</a></p>
<p>If you’re looking for a way to easily share your arc DPS logs, here are some recommended sites:</p>
<p>Link: <a href="https://dps.report" target="_blank">https://dps.report</a></p>