<div class="card mb-3">
  <div class="card-header">Blish HUD</div>
  <div class="card-body">
    <p class="card-text">A modern Guild Wars 2 overlay with powerful module support. Some of our favorite modules include: Pathing, Timers, Compass, and Commander Markers.</p>
    <a href="https://blishhud.com/" class="btn btn-primary" target="_blank">https://blishhud.com</a>
  </div>
</div>

<div class="card">
  <div class="card-header">ARC DPS</div>
  <div class="card-body">
    <p class="card-text">This is a DPS meter and while we know there is still some controversy about them this is the best one for those that want to use one. It’s also got the added benefit of having a working build template system (switch between builds quickly).</p>
    <p class="card-text">If you’re looking for a way to easily share your arc DPS logs, here are some recommended sites: <a href="https://dps.report" target="_blank">https://dps.report</a></p>
    <a href="https://www.deltaconnected.com/arcdps/" class="btn btn-primary" target="_blank">https://www.deltaconnected.com/arcdps/</a>
  </div>
</div>