---
layout: layouts/base.njk
---
<article class="mt-3">
  <h1>{{ title }}</h1>
  <div class="row mb-2">
    <div class="col">
      <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    </div>
    <div class="col text-end">
      {%- for tag in tags | filterTagList -%}
        {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
        <a href="{{ tagUrl | url }}" class="ms-1" title="{{ tag }}"><span class="badge bg-danger">{{ tag }}</span></a> 
      {%- endfor %}
    </div>
  </div>
  <hr>
  {{ content | safe }}
</article>



{%- if collections.posts %}
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if nextPost or previousPost %}
    <hr>
    <div class="row">
      {%- if previousPost %}
      <div class="col">
        Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
      </div>
      {% endif %}
      {%- if nextPost %}
      <div class="col text-end">
        Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
      </div>
      {% endif %}
    </div>
    <ul>
  {%- endif %}
{%- endif %}