<h4>Resources</h4>
<ul>
    <li><a href="https://playorna.com/codex/" target="_blank">Orna / Aethric Codex</a></li>
    <li><a href="https://www.ornalegends.com/" target="_blank">Orna Legends</a></li>
    <li><a href="https://www.ornalegends.com/home/the-ultimate-ornarpg-beginner-basics-guide" target="_blank">Orna Legends - Ultimate Beginner's Guide</a></li>
    <li><a href="https://orna.guide/" target="_blank">Orna Guide</a></li>
    <li><a href="https://aethricatlas.com/" target="_blank">Aethric Atlas</a></li>
</ul>

<div class="row">
    <div class="col">
        <h4>YouTube Guides</h4>
        <p>Coming soon!</p>
    </div>
</div>