<h4>Resources</h4>
<ul>
    <li><a href="https://d4planner.io/map" target="_blank">D4Planner - our favorite map tool</a></li>
    <li><a href="https://diablo4.life/trackers/overview" target="_blank">Diablo 4 Event and Boss Tracker</a></li>
    <li>Builds
        <ul>
            <li><a href="https://www.icy-veins.com/d4/" target="_blank">Icy Veins</a></li>
            <li><a href="https://www.wowhead.com/diablo-4" target="_blank">Wowhead</a></li>
            <li><a href="https://d4builds.gg/build-planner/" target="_blank">D4Builds - Build Calc</a></li>
            <li><a href="https://maxroll.gg/d4" target="_blank">Maxroll</a></li>
        </ul>
    </li>
</ul>

<div class="row">
    <div class="col">
        <h4>YouTube Guides</h4>
        <p>Coming soon!</p>
    </div>
</div>