<div class="float-end ml-3">
    <img src="{{ '/img/poster-cropped.jpg' | url }}" alt="Marked Souls poster" class="rounded" style="width: 400px;" />
</div>
<p>
    Marked Souls [MkS] is a North American based online gaming community which was originally created
    in 2007 as a Guild Wars guild. Marked Souls is primarily a PvE guild. You can expect guild missions, events,
    map commanders, fractals, strikes, dungeons, etc.
    We have experienced players willing to work with players that feel they need help in a specific area (game
    mode, class, etc.).
</p>
<ul>
    <li>Great friendly people and a group of players that understand the value of support and encouragement.</li>
    <li>Experience and help! Members range from veteran players to enthusiastic newcomers and all in between. </li>
    <li>A mature community with members ranging from casual to semi-hardcore members.</li>
    <li>Discord server for voice and text chat. Members are online most of the day whether in game or not.</li>
    <li>No required activities – No donations of faction, items, or time are ever required.</li>
    <li>Representation Policy – Represent Marked Souls when you’re playing with Marked Souls.</li>
</ul>
<div style="clear: both;"></div>