<p>
    Marked Souls is primarily a Guild Wars 2 guild but we have members that play multiple games.
    The full list of games that we’re current playing or have played in the past is (alphabetically):
</p>
<div class="row row-cols">
    <div class="col">
        <div class="card">
            <div class="card-header fw-bold">
                PC
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Aion</li>
                <li class="list-group-item">Diablo (1, 2, 3, 2R)</li>
                <li class="list-group-item">The Division (1 and 2)</li>
                <li class="list-group-item">Dragon Nest</li>
                <li class="list-group-item">Guild Wars (1 and 2)</li>
                <li class="list-group-item">Warframe</li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header fw-bold">
                Mobile Games
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">AFK Arena</li>
                <li class="list-group-item">Dissidia Final Fantasy Opera Omnia</li>
                <li class="list-group-item">Final Fantasy Brave Exvius</li>
            </ul>
        </div>
    </div>
</div>