<p>
    In Marked Souls, participation in the community
    counts for a lot more than your current skill at the game. We have experienced players willing
    to work with players that feel they need help in a specific area (game mode, class, etc.).
</p>
<p>
    An ideal recruit:
</p>
<ul>
    <li>is respectful.</li>
    <li>has a good sense of humor</li>
    <li>enjoys playing with guild members</li>
    <li>strives to become a better player and teammate</li>
</ul>

<p>
    All members must pass a probation period, during which the player must show that they can fit in with the
    guild’s expectations and current members.
</p>
<p class="fw-bold">
    <em>You can join Marked Souls by messaging Kousei.5914 or Vivaer.8360 in game or visiting our Discord.</em>
</p>
<div class="text-center">
    <a href="https://discord.gg/G4sreFM" target="_blank" class="btn btn-danger">Discord</a>
</div>