<p>
    In Marked Souls, participation in the community
    counts for a lot more than your current skill at the game. We have experienced players willing
    to work with players that feel they need help in a specific area (game mode, class, etc.).
</p>
<p>
    An ideal recruit:
</p>
<ul>
    <li>is respectful.</li>
    <li>has a good sense of humor</li>
    <li>enjoys playing with guild members</li>
    <li>strives to become a better player and teammate</li>
</ul>

<div class="text-center">
    <a href="{{ '/games/guildwars2/' | url }}" class="btn btn-lg btn-outline-dark">
        <img src="{{ '/img/games/gw2/gw2-logo.png' | url }}" alt="Guild Wars 2 logo" style="max-height: 50px" />
        Guild Wars 2
    </a>
    <a href="{{ '/games/aethric/' | url }}" class="btn btn-lg btn-outline-dark">
        <img src="{{ '/img/games/aethric.png' | url }}" alt="Hero of Aethric logo" style="max-height: 50px" />
        Hero of Aethric
    </a>
</div>

