---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Welcome to Marked Souls</h1>
{% include "blurbs/about.njk" %}
<h1>Join</h1>
{% include "blurbs/join.njk" %}
<h1>Games</h1>
{% include "blurbs/games.njk" %}