<p>
To join Marked Souls in Hero of Aethric, you must be apart of the Knights of Inferno faction.
Game mechanics will not allow you to find our Kingdom (guild) without being in our faction.
If you're apart of the faction, simply find us in the Kingdom list and join up. 
</p>
<p>
We don't require Discord but it's certainly recommended as we'll us it for voice chat and a better text 
based party chat experience. Be sure to react in our #welcome channel to get access to our Hero of Aethric channels!
</p>
